header {
    background-color: #628ca4;
    padding: 20px 0;
}

.menu {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 150px;
    right: 0;
}

#navlogo {
    width: 30%;
    height: 30%;
}

nav li {
    display: inline;
    margin: 0 0 0 20px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 26px;
    text-decoration: none;
}

.desc {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.desc li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    margin: 0 1%;
}

.desc h2 {
    font-size: 28px;
    font-weight: bold;
}

.desc img {
    width: 30%;
    height: 30%;
}

nav a:hover {
    color: #3319c7;
    text-decoration: underline;
}

.desc li:hover {
    color: #3319c7;
    border-color: #3319c7;
}

.desc li:hover h2 {
    font-size: 36px;
}

footer {
    text-align: center;
    color: white;
    font-weight: bold;
    background: url(imagens/img1.png);
    padding: 60px 0;
}